@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: theme('colors.stone.200');
  }

  .dark ::selection {
    background-color: theme('colors.stone.700');
  }

  * {
    transition-property: color, background-color, border-color;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }
}
